body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    text-align: center;
    width: 563px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

.sub-text {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000;
    border-radius: 10px;
    font-size: 14px;
}

#signin-btn {
    background-color: #000;
    color: #fff;
    padding: 10px;
    width: 155px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 500px;
}

.signin-btn:hover {
    opacity: 0.8;
}

.or-use {
    margin-top: 15px;
    font-size: 18px;
    text-align: left;
    text-decoration: underline;
}

.social-icons {
    display: flex;
    justify-content: left;
    gap: 15px;
    margin-top: 10px;
}

.social-icons img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
